.mp-search-input{
	height: 40px;
	border-radius: 0px;
}
.mp-btn{
	background-color: #51ae31;
	padding-right: 0px;
}
.mp-btn-default{
	border: 1px solid #51ae31;
	background-color: #fff;
	color: #51ae31;
	padding-right: 10px;
}
.mp-btn-default:hover{
	border: 1px solid #51ae31;
	color: #fff;
	background-color: #51ae31;
}
.mp-search{
	background-color: #51ae31;
	color:#fff;
	border: 1px solid #51ae31;
	width: 150px;
	height: 40px;
}
.mp-search:hover{
	background-color: #449d44;
	color: #fff;
	border 0px;
}
.mp-drop{
	width: 80%;
}
.dropdown-menu{
	border-radius: 0px;
	width: 90%;
	margin-left:2px;
}
.mp-filter{
	margin-top: 30px;
}
.mp-filter-display{
	font-weight: 600;
	color: #9c9c9c;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
}
.mp-filter-display-number{
	float: right;
	font-weight:600;
	color: #9c9c9c;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.mp-item-organization{
	margin-top: 20px;
	border: 0px;
}
.number{
	float: right;
}
.mp-btn-sm{
	background-color: #51ae31;
	color: #fff;
	border: 0px;
	border-radius: 0px;
	margin-right: 5px;
	padding-right: 10px;
}
.mp-btn-sm:hover{
	background-color: #449d44;
	color: #fff;
	border: 0px;
	border-radius: 0px;
	margin-right: 5px;
	z-index:1;
}
.mp-btn-secondary{
	margin-top: 15px;
	background-color: #ddd;
	color: #9c9c9c;
}
.mp-btn-secondary:hover{
	margin-top: 15px;
	background-color: #9c9c9c;
	color: #fff;
}
.mp-btn-xs{
	border: 0px;
	background-color: #fff;
	color: #9c9c9c;
}
.mp-btn-xs:hover{
	border: 0px;
	background-color: #fff;
	color: #9c9c9c;
}
.mp-wrapper > .mp-new-section > .panel-group .panel{
    border-color: #51ae31;
    background-color: #51ae31;
}
.mp-wrapper > .mp-new-section > .panel-group .panel:hover{
    background-color: #449d44;
}
.mp-wrapper > .mp-new-section > #accordion h4 > a{
    color: white !important;
}
.mp-wrapper > .mp-new-section > #accordion h4{
    border-bottom: 0px !important;
    margin: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;

}

.mp-wrapper > .portlet-column .portlet{
	margin: 10px 0px 10px 0px !important;
}
.mp-wrapper > .mp-new-section > #accordion h4 > a:after{
    background-color: #449d44;
    padding: 10px 15px;
    margin-top: -10px;
    margin-right: -15px;
}
form{
	padding: 10px !important;
}
.mp-wrapper > .portlet-column{
	clear: none !important;
}
.mp-wrapper > .portlet-column > .portlet{
	float: right !important;
}
.counter > .input-group .form-control{
	text-align: center;
}
.mp-btn-label{
	display: inline-block;
	padding: 6px 9px;
	background-color: #449d44;
}
.mp-btn-labeled{
	padding-top:0;
	padding-bottom:0;
}
.mp-btn{
	background-color: #51ae31;
	padding-right: 0px;
}
.mp-btn-same-width > .btn{
	width: 100%;
	text-align: left;
	vertical-align: middle;
	margin-bottom: 10px;
}
.media-object{
	margin-right: 5px;
}
.mp-btn-labeled:after > .mp-btn-label{
	float: right;
}
a.newsItem:hover, .media:hover, .portletEventsPortlet ul:hover{
	background: #fff;
}
.mp-news-description{
	color: #004994;
}
.list-group-item:first-child{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.list-group-item:last-child{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.mp-order-info{
	color: #9c9c9c;
}
.glyphicon-save{
	color: #9c9c9c;
	margin-right: 5px;
}
.glyphicon-ok{
	color: #51ae31;
	margin-right: 5px;
}
.glyphicon-remove{
	color: red;
	margin-right: 5px;
}
.mp-list-devider{
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 30px;
	padding-top: 10px;
	color: #9c9c9c;
}
.mp-delete{
	color:#9c9c9c;
}
.mp-price-table-cart{
	border-top: 2px solid #9c9c9c;
	background-color: #fff;
}
.mp-new-section{
	margin-top: 10px;
	margin-bottom: 10px;
}
.overview-table{
	float:right;
}
.mp-headline{
	color: rgba(0,153,204,1);
}
.only-mobile{
	display:none;
}
.main-timeline-section{
	position: relative;
	width: 100%;
	margin: auto;
	height: 300px;
}
.main-timeline-section .timeline-end{
	right: 0px;
}
.main-timeline-section .conference-center-line{
	position: absolute;
	width: 100%;
	height: 2px;
	top: 50%;
	transform: translateY(-50%);
	background: #ddd;	
}
.timeline-article{
	width: 20%;
	position: relative;
	min-height: 300px;
	float: right;
}
.timeline-article .content-date{
	position: absolute;
	top: 35%;
	left: -30px;
	font-size: 14px;
	color: #9c9c9c;
}
.timeline-article .meta-date{
	position: absolute;
	top: 50%;
	left: 0px;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background: #ddd;
	border: 1px solid #ddd;
}
.aktiv{
	position: absolute;
	top: 50%;
	left:0px;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background: #fff !important;
	border:1px solid #ddd;
}
.timeline-article-bottom .content-date{
	top: 59%;
}

.mp-mobile-table{
    display: none;
    visibility: hidden;
}
#content-core > .mp-wrapper ul li:before{
	display: none !important;
}
#content-core > .mp-wrapper ul li{
	padding-left: 0px;
}
.modal-content{
	width: ;
}
@media only screen and (max-width: 770px){
    
    .mp-mobile-table{
        display: block;
	visibility: visible;
    }
    .mp-desktop-table{
        display: none;
	visibility: hidden;
    }
    .mini-img{
	display: none;
	visibility: hidden;
    }
}
@media only screen and (max-width: 980px){
    #content-core > .mp-wrapper{
	padding-left:18px;
    }
    .modal-body{
	height: auto;
    }
}

